@model Vidly.ViewModels.IndexCustomer

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balance</h2>
            <div class="card">
                <h3>
                    <span>
                        Incomes
                    </span>
                    <img src="~/assets/income.svg" alt="Image de entradas">
                </h3>
                <p id="incomeDisplay">R$ 0,00</p>
            </div>

            <div class="card">
                <h3>
                    <span>
                        Outcomes
                    </span>
                    <img src="~/assets/expense.svg" alt="Image de saídas">
                </h3>
                <p id="expenseDisplay">R$ 0,00</p>
            </div>

            <div class="card total">
                <h3>
                    <span>
                        Amount of Customer
                    </span>
                    <img src="~/assets/total.svg" alt="Image de total">
                </h3>
                <p id="totalDisplay">@Model.Customers.Count()</p>
            </div>
        </section>

        <section id="transaction">
            <h2 class="sr-only">Locations</h2>            
            <a href="#"
               onclick="Modal.open()"
               class="button new">+ New Customer</a>

            <table id="data-table">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Birthdate</th>
                        <th>Membership Type</th>
                        <th>Discount Rate</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Customers.Any())
                    {
                        <tr>There are no customers registered yet.</tr>
                    }
                    else
                    {
                        @foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)</td>
                                <td>@customer.BirthDate.Value.ToShortDateString()</td>
                                <td>@customer.MembershipType.Name</td>
                                <td>@customer.MembershipType.DiscountRate%</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </section>
    </main>

    @*Add customer Modal*@
    <div class="modal-overlay">
        <div class="modal">
            <div id="form">
                <h2>New Customer</h2>                
                @*<form action="" onsubmit="Form.submit(event)">*@
                @using (Html.BeginForm("Create", "Customers"))
                {
                    @*<div class="input-group">*@
                        @*<label class="sr-only"
                           for="name">
                            Name
                        </label>*@
                        @Html.LabelFor(model => model.Customer.Name)
                        @Html.TextBoxFor(model => model.Customer.Name, new { @class = "input-group" })
                    @*</div>*@

                    <div class="input-group">
                        @Html.LabelFor(model => model.Customer.BirthDate)
                        @Html.TextBoxFor(model => model.Customer.BirthDate, new { type = "date" })
                    </div>

                    <div class="input-group">
                        @Html.LabelFor(model => model.Customer.MembershipTypeId)
                        @Html.DropDownListFor(model => model.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type")
                    </div>

                    <div class="checkbox-group">                        
                        <label>
                             Subscribed to newsletter?
                        </label>
                        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
                    </div>

                    <div class="input-group actions">
                        <a onclick="Modal.close()"
                       href="#"
                       class="button cancel">Cancel</a>
                        <button type="submit">Save</button>
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </div>

</body>
</html>

